@page
@model Zadanie3.Pages.BMIpageModel
@{
}

    <div class="form-group row mt-5 text-center">
<h1>Twoje BMI wynosi: @Model.user.Result</h1>
<div> Imię: @Model.user.FirstName 
</div>
     <br/>
     <div> Email: @Model.user.Email 
     </div>
     <br/>
     <div> Wiek: @Model.user.Age
     </div>
      <br/>
       <div> Waga: @Model.user.Weight kg </div>
       <br/>
    @if(Model.user.HeightUnit=="cm")
    {
        <div> Wzrost: @Model.user.Height cm </div>
    }
    else
    {
        <div> Wzrost: @Model.user.Height m </div>
    }      
     <br/>
     <div> Płeć: @Model.user.Gender </div>
     <br/>
     </div>
